*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: #4A6FA5;
}

.container{
	margin: auto;
	width: 80%;
	height: 100%;
}

.TopBarContainer{
    width: 100%;
    height: 7em;
    color: black;
    background-color: #DBE9EE;
    margin: auto;
    margin-top: 5%;
    box-shadow: 2px 2px 47px #4F6D7A;
    border-radius: 5px;
}

span.TotalAmountContent {
    display: inline-block;
    float: right;
    position: relative;
    top: 43%;
    right: 6%;
}

span.LogoImg {
    display: inline-block;
    position: relative;
    top: 5%;
}

.PaymentList{
    width: 100%;
    min-height: 32em;
    height: 32em;
    color: black;
    background-color: #DBE9EE;
    margin: 10% auto;
    box-shadow: 2px 2px 47px #4F6D7A;
    border-radius: 5px;
    overflow-y: auto;
}

.EditPayment{
    position: absolute;
    width: 80%;
    min-height: 26em;
    height: 63%;
    z-index: 4;
    background-color: rgba(79, 109, 122, 0.9);
}

.PaymentItem{
    position: relative;
    display: block;
    width: 90%;
    height: 8.5em;
    background-color: #C0D6DF;
    margin: 1em auto;
    top: 2em;
    box-shadow: 2px 2px 7px #4F6D7A;
}

.ImgType {
    display: inline-block;
    width: 17%;
    height: 100%;
}

.ImgType img {
    position: absolute;
    width: auto;
    height: 90%;
    top: .3em;
    left: .4em;
}

.InfoContainer {
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 100%;
}

.InfoTitle {
    position: relative;
    width: 70%;
    display: inline-block;
    top: 1em;
    left: 1.2em;
    font-size: 18px;
    font-weight: bold;
}

.InfoDesc {
    position: relative;
    width: 70%;
    display: inline-block;
    top: 2em;
    left: 1.2em;
}

.InfoDate {
    position: relative;
    width: 30%;
    display: inline-block;
    top: 41%;
    text-align: right;
    font-size: 16px;
}

.InfoMonto {
    position: absolute;
    width: 20%;
    display: inline-block;
    right: 0px;
    bottom: 1em;
    text-align: right;
}

.InfoControl {
    position: absolute;
    right: 0px;
}

.InfoBtnEdit {
    margin: .2em;
}

.InfoBtnCerrar {
    margin: .2em;
}

.addPaymentIcon{    
    position: absolute;
    top: 24%;
    right: 11%;
    padding: 1em;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}

.closeModal {
    position: absolute;
    right: 1em;
    top: 1em;
    color: white;
}

.editTitleScreen {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-top: 1em;
}

.infoForm {
    height: 90%;
}

.infoForm-icon {
    width: 30%;
    position: relative;
    display: inline-block;
    left: 2em;
    top: 1em;
}

.infoForm-title {
    width: 30%;
    position: absolute;
    display: inline-block;
    top: 21%;
}

.infoForm-desc {
    width: 30%;
    position: absolute;
    display: inline-block;
    top: 35%;
}

.infoForm-date {
    width: 30%;
    position: absolute;
    display: inline-block;
    top: 61%;
}

.infoForm-amount {
    width: 30%;
    position: absolute;
    display: inline-block;
    top: 79%;
}

.btnAdd{
    position: absolute;
    right: 2em;
    bottom: 4em;
    padding: 1em 2em;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}

textarea.textAreaDesc {
    width: 28em;
    height: 6em;
    margin: 0.5em 0em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
    resize: none;
}

input[type="text"] {
    margin: 0.5em 0.5em;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
}

input#date{
    margin: 0.5em 0em;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
}
